.collection-slider__item {
    width: 360px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.collection-slider__item__content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 48%;
    padding-right: 14%;
}

.collection-slider__item__title {
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F6F6F6;
}

.collection-slider__item_link {
    width: 180px;
    height: 56px;
    font-size: 16px;
}

.collection-slider__wrapper {
    padding: 60px 0 84px 60px;
}